.howitworks-image>.headline {
    color: white;
    z-index: 1;
    font-size: 60px;
    font-weight: bold;
    margin-top: -300px;
    margin-left: 850px;
    width: 500px;
}

.howitworks-image>.headline {
    background-color: #9DDAB8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.howitworks-image>.headline>button {
    background-color: #027333;
    font-size: 30px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.howitworks1 {
    margin-top: 100px;
    /* border: 1px solid red; */
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.banner {
    width: 100%;
    margin-bottom: 50px;
}

.howitworks1 h2 {
    font-size: 35px;
    font-weight: bolder;
    color: #01401C;
    /* margin-bottom: 30px; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.first-icon {
    font-size: 80px;
    padding: 20px;
    background-color: #E1F9EB;
    border-radius: 50px;
    color: #01401C;
}

.flow {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.single-flow {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.flow-title {
    font-weight: bolder;
    font-size: 25px;
    color: #01401C;
    margin-top: 30px;
}

.flow-des {
    font-size: 18px;
    color: rgb(70, 70, 70);
    margin-top: 20px;
}

.info-container-1 {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info1-title {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.info1-des {
    font-size: 20px;
}

.section3 {
    height: 400px;
    width: 100%;
}

.centered-left {
    position: absolute;
    top: 50%;
    left: 36%;
    transform: translate(-50%, -50%);
    max-width: 500px;
}

.line {
    width: 120px;
    height: 47px;
    border-bottom: 1px solid rgb(1, 165, 23);
}