.howitworks{
    margin-top: 69px;
    width: 100%;
}

.howitworks-image{
    width: 100%;
}

.howitworks-image>.headline {
    color: white;
    z-index: 1;
    font-size: 60px;
    font-weight: bold;
    margin-top: -300px;
    margin-left: 60%;
    width: 500px;
}

.howitworks-image>.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.howitworks-image>.headline>button {
    background-color: #027333;
    font-size: 30px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.howitworks1 {
    margin-top: 80px;
    /* border: 1px solid red; */
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.banner {
    width: 100%;
    margin-bottom: 50px;
    height: 500px;
}

.howitworks1 h2 {
    font-size: 35px;
    font-weight: bolder;
    color: #01401C;
    /* margin-bottom: 30px; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.first-icon {
    font-size: 80px;
    padding: 20px;
    background-color: #0273330d;
    border-radius: 50px;
    color: #01401C;
}

.flow {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.single-flow {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.flow-title {
    font-weight: bolder;
    font-size: 20px;
    color: #01401C;
    margin-top: 30px;
}

.flow-des {
    font-size: 18px;
    color: rgb(70, 70, 70);
    margin-top: 20px;
}

.info-container-1 {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-15%, -50%);
    text-align: left;
    /* max-width: 1100px; */
    display: flex;
    flex-direction: row;
}


.info1-title {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.info1-des {
    font-size: 23px;
}


.line {
    width: 120px;
    height: 60px;
    border-bottom: 1px solid rgb(0, 91, 12);
}

.search{
    max-width: 500px;
    box-shadow: #01401cd8 6px 10px 10px 3px;
    margin-left: 40px;
    max-height: 350px;
    border-radius: 10px;
}

.section3 {
    /* height: 400px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.centered-left {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    /* max-width: 900px; */
    width: fit-content;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.show-img{
    max-width: 450px;
    border: 1px solid grey;
    padding: 10px;
    box-shadow: #00420c -6px 10px 10px 3px;
    margin: 40px;
    border-radius: 10px;
}

.info2{
    max-width: 500px;
    margin-left: 60px;
    color: #01401C;
}

.info3{
    max-width: 400px;
}

.mp{
    max-width: 500px;
    box-shadow: #2c2b2b 6px 10px 10px 3px;
    margin-left: 40px;
    max-height: 350px;
    border-radius: 10px;

}