/* my mealplan */
.my-mealplan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 69px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.mealplan-recipes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
    /* border: 1px solid green; */
    width: 420px;
    /* height: 600px; */
}

.mealplan-recipes .mp-recipe-list {
    height: 650px;
    overflow-y: scroll;
    width: 100%;
    /* border: 1px solid red; */
}

.mealplan-main {
    /* border: 1px solid green; */
    width: 890px;
    



}

.mealplan-search {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
    width: 100%;
}

.mealplan-recipes{
    border: 1px solid lightgray;

}

.mealplan-search i{
    color: white;
    background-color: green;
    padding: 10px;
    border-radius: 50%;
}
.mealplan-search input {
    height: 40px;
    border-radius: 5px;
    width: 90%;
    border: none;
    box-shadow: none;
}

.mp-recipe-item>img {
    height: 200px;
   
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 0px;
    font-size: 20px;
    width: 810px;
 
    align-items: center;


}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid lightgray;
    ;
    /* padding: 20px; */
    font-size: 15px;
    width: 200px;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mealplan-buttons, .mealplan-results {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    width: 810px;
    
    
}
.mealplan-buttons button{
    width: 200px;

}

.mealplan-sub > div:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 810px;
    margin-bottom: 20px;
   
}



.mealplan-results{
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;

}

.shopping-link{
    margin-left: 20px;
    

}

.shopping-link:hover{
    color: blue;
    text-decoration: underline;
}


.nutrition-sub,
.mealplan-sub {

    /* border: 1px solid red; */

    height: 620px;
    /* background-color: rgba(230, 218, 160, 0.371); */
        display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
            background-color: rgba(36, 174, 36, 0.067);

}

.mealplan-tabs {
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */

}

.mealplan-tabs>div {
    /* border: 1px solid red; */
}

.mealplan-tabs>div {
    background-color: rgba(36, 174, 36, 0.067);;
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.grid-item:nth-child(-n+4){
    background-color: #027333;
    border-right: 1px solid white;
    height: 30px;
    color: white;
    font-size: 20px;
}

.grid-item:nth-child(1){
    background-color: rgba(0, 0, 0, 0);;
    border: none;
}

.grid-item:nth-child(5), .grid-item:nth-child(9), .grid-item:nth-child(13),
.grid-item:nth-child(17), .grid-item:nth-child(21), .grid-item:nth-child(25), 
.grid-item:nth-child(29){
    font-size: 20px;
    background-color: #37a63762;
    writing-mode: sideways-rl;
    text-orientation: mixed;
    /* width: 70px; */

}