/* my mealplan */
.my-mealplan {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin-top: 69px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    /* background-color: rgb(243, 250, 215); */
}

.mealplan-recipes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
    /* border: 1px solid green; */
    width: 420px;
    border-radius: 5px;
    /* height: 600px; */
}

.mealplan-recipes .mp-recipe-list {
    height: 550px;
    overflow-y: scroll;
    width: 100%;
    /* border: 1px solid red; */
}

.mealplan-main {
    /* border: 1px solid green; */
    width: 750px;
}

.mealplan-search {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
    width: 100%;
}

.mealplan-recipes{
    max-width: 260px;
    margin-right: 10px;
}

.mealplan-search{
    border-radius: 8px;
    margin-bottom: 10px;
}

.mealplan-search i{
    color: green;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}
.mealplan-search input {
    height: 40px;
    border-radius: 5px;
    width: 90%;
    border: none;
    box-shadow: none;
}

.mealplan-re-container{
    position: relative;
    cursor: pointer;
}

.mealplan-re-name h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
    opacity: 0;
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #005023;
    width: 200px;
}

.mp-recipe-item>img {
    height: 150px;
    overflow: hidden;
   
}

.my-mealplan .recipe-index-img{
    max-height: 150px;
    border-radius: 20px;
    margin-bottom: 10px;
    opacity: 1;
    display:block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.mealplan-re-container:hover .recipe-index-img{
    opacity: 0.2;
}

.mealplan-re-container:hover .mealplan-re-name h2{
    opacity:1;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 0px;
    font-size: 20px;
    /* width: 810px; */
    max-width: 750px;
    align-items: center;
    height: 500px;


}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid lightgray;
    padding: 10px 15px;
    font-size: 15px;
    max-width: 180px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 5px;
}

.grid-item-col-1 {
    border-radius: 5px 0 0 0;
    border: none;
    color: white;
    background-color: #187440;
    padding: 10px;
    font-size: 20px;
    margin: 2px;
    text-align: center;
}

.grid-item-col{
    /* border-radius: 5px 5px 0 0; */
    border: none;
    color: white;
    background-color: #005023;
    padding: 10px;
    margin: 1px;
    text-align: center;
}

.grid-item-col-last {
    border-radius: 0 5px 0 0;
    border: none;
    color: white;
    background-color: #005023;
    padding: 10px;
    margin: 1px;
    text-align: center;
}

.grid-item-row{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 50px;
    border: none;
    background-color: #adc8b8;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px 0 0 5px;
    max-width: 60px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.grid-item-mon{
    border: none;
    background-color: #e1efe7;
    color: rgb(55, 97, 57);
    min-height: 38px;
    font-size: 15px;
    width: 180px;
    padding: 11px 15px;
    margin-bottom: 5px;
    text-align: center;
    border-right: 1px solid white;
}

.grid-item-tue{
    border: none;
    background-color: #d2e1d8;
    color: rgb(55, 97, 57);
    min-height: 38px;
    font-size: 15px;
    width: 180px;
    padding: 11px 15px;
    margin-bottom: 5px;
    text-align: center;
    border-right: 1px solid white;
}

.grid-item-wed {
    border: none;
    background-color: #c6d4cc;
    color: rgb(55, 97, 57);
    min-height: 38px;
    font-size: 15px;
    width: 180px;
    padding: 11px 15px;
    margin-bottom: 5px;
    text-align: center;
    border-right: 1px solid white;
}

.grid-item-thu {
    border: none;
    background-color: #bac8c0;
    color: rgb(55, 97, 57);
    min-height: 38px;
    font-size: 15px;
    width: 180px;
    padding: 11px 15px;
    margin-bottom: 5px;
    text-align: center;
    border-right: 1px solid white;
}

.grid-item-fri {
    border: none;
    background-color: #acbbb3;
    color: rgb(55, 97, 57);
    min-height: 38px;
    font-size: 15px;
    width: 180px;
    padding: 11px 15px;
    margin-bottom: 5px;
    text-align: center;
    border-right: 1px solid white;
}

.grid-item-sat {
    border: none;
    background-color: #a3b1aa;
    color: rgb(55, 97, 57);
    min-height: 38px;
    font-size: 15px;
    width: 180px;
    padding: 11px 15px;
    margin-bottom: 5px;
    text-align: center;
    border-right: 1px solid white;
}

.grid-item-sun {
    border: none;
    background-color: #9aa8a1;
    color: rgb(55, 97, 57);
    min-height: 38px;
    font-size: 15px;
    width: 180px;
    padding: 11px 15px;
    margin-bottom: 5px;
    text-align: center;
    border-right: 1px solid white;
}

.mealplan-buttons, .mealplan-results {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    width: 660px;
    margin-left: 0;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
    
    
}
.mealplan-buttons button, .mealplan-results button{
    margin: 0;
    width: 150px;
    font-size: 15px;
    height: 30px;

}

.mealplan-sub > div:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 750px;
    margin-bottom: 20px;
   
}



.mealplan-results{
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    /* border: 1px solid red; */

}

.mealplan-results > div:nth-child(1){
    display: flex;
    flex-direction: row;
    align-items: center;
}

.start-over{
    background-color: #027333;
    text-align: center;
    border-radius: 5px;
}

.shopping-link{
    margin-left: 20px;
    

}

.shopping-link:hover{
    color: blue;
    text-decoration: underline;
}


.nutrition-sub,
.mealplan-sub {
    height: 620px;
    /* background-color: rgba(230, 218, 160, 0.371); */
        display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* padding-top: 20px; */
            padding-left: 40px;
            /* background-color: rgba(36, 174, 36, 0.067); */
            /* border: 1px solid red; */

}

.mealplan-tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 50px;
    /* border: 1px solid red; */

}


.mealplan-tabs>div {
    background-color: rgba(36, 174, 36, 0.067);;
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.grid-item:nth-child(-n+4){
    background-color: #027333;
    border-right: 1px solid white;
    height: 30px;
    color: white;
    font-size: 20px;
}

.grid-item:nth-child(1){
    background-color: rgba(0, 0, 0, 0);;
    border: none;
}

.grid-item:nth-child(5), .grid-item:nth-child(9), .grid-item:nth-child(13),
.grid-item:nth-child(17), .grid-item:nth-child(21), .grid-item:nth-child(25), 
.grid-item:nth-child(29){
    font-size: 20px;
    background-color: #37a63762;
    writing-mode: sideways-rl;
    text-orientation: mixed;
    /* width: 70px; */

}

.mealplan-main label{
    margin-right: 20px;
    font-weight:  bold;
}

.mealplan-main input{
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid lightgray;

}