/* my mealplan */
.my-mealplan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;

}

.mealplan-recipes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
    border: 1px solid green;
    width: 420px;
    /* height: 600px; */
}

.mealplan-recipes .mp-recipe-list {
    height: 650px;
    overflow-y: scroll;
    width: 100%;
    /* border: 1px solid red; */
}

.mealplan-main {
    border: 1px solid green;
    width: 900px;

}

.mealplan-search {
    background-color: aqua;
    width: 100%;
}

.mealplan-search input {
    width: 100%;
}

.mp-recipe-item>img {
    height: 200px;
    /* border: 1px solid red; */
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* background-color: wheat; */
    /* padding: 10px; */
    column-gap: 0px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #027333;
    ;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.mealplan-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
}