
.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }
  
  
 .modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
  }

  .create-form-container {
    width: 850px;
    height: 750px;
    overflow-y: scroll;
    background: white;
    font-family: 'Lora', serif;
    background-color: rgb(237, 250, 241);
    border-radius: 5px;
  }

 .add-ingredients{
    width: 200px;
    height: 200px;
    border: 1px black solid;
    display: flex;
 }

 .recipe-form-title{
    /* width: 300px; */
    height: 50px;
    /* border: 1px black solid; */
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
   background-color: #72735F;
   color: white;

 }
 .ingredientsList{
    height: 20px;
    border: 1px black solid;
 }

 #title-input{
    width: 600px;
    height: 60px;
    margin-bottom: 20px;
    /* background-color: #68A67E; */
    background-color: rgb(247, 247, 247);

   
 }
 #description-input{
    width: 600px;
    height: 170px;
    background-color: rgba(104, 166, 126, .2);
   
 }
 #tester{
    /* border: 1px black solid; */
    padding-top: 20px;
   
 }

 .how-to{
    display: flex;
    justify-content: center;
  
 }

 .how-to-title{
    display: flex;
    justify-content: flex-start;
    margin-left: 202px;
 }

 .money-drop{
    /* margin-left: 490px; */
    width: 100px;
    /* margin-top: 200px;; */
 }
 .category-drop{
   /* margin-left: 390px; */
   width: 150px;
}
.selectors{
   display: flex;
   border: 1px black solid;
   flex-direction: row;
   justify-content: c;
   padding: 0px;

}




 .creating-form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: space-around;
    padding-top: px;
    /* border: 1px black solid; */
    /* height: 500px; */

 }

 /* .title-box{
    width
 } */

 /* .modal-child button {
     width: 100px;
 }

 .modal-child .button-container {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     border-top: 1px solid lightgray;
 }

 .modal-child .component-title {
     border: none;
     border-bottom: 1px solid lightgray;

 }

 .modal-child textarea {
     width: 100%;
     min-height: 140px;
     margin: 10px;
 }

 .modal-child input {
     width: 100%;
     width: 500px;
 }

 .modal-child form {
     height: 400px;
 } */