.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }
  
.create-form-container input, .create-form-container textarea{
   padding: 5px;
}
  
 .modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
  }

  .create-form-container {
    width: 850px;
   
    background: white;
    font-family: 'Lora', serif;
    /* background-color: rgb(237, 250, 241); */
    border-radius: 5px;
  }
  .create-form-container::-webkit-scrollbar{
   display: none;
  }

 .add-ingredients{
    width: 200px;
    height: 200px;
    border: 1px black solid;
    display: flex;
 }

 .recipe-form-title{
    /* width: 300px; */
    height: 50px;
    /* border: 1px black solid; */
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    background-color: rgb(92, 149, 112);
   color: white;

 }
 .ingredientsList{
    height: 20px;
    border: 1px black solid;
 }

 #title-input{
    width: 600px;
    height: 60px;
    margin-bottom: 20px;
    /* background-color: #68A67E; */
    background-color: rgba(137, 216, 164, 0.2);

   
 }

 .list-section{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   width: 600px;
   /* border: 1px black solid; */
}



 .list-of-ingred{
   display: flex;
   flex-direction: column;
   border-bottom: #72735F;
   /* border: 1px black solid; */
   width: 270px;
   /* justify-content: space-evenly; */
   
   /* padding-right: 240px; */
   /* align-items: flex-start; */
   align-content: flex-start;
   margin-right: 45px;
   list-style: circle;
   
 }
 .list-of-ingred2{
   display: flex;
   flex-direction: column;
   /* border: 1px black solid; */
   width: 270px;
   /* justify-content: space-evenly; */
   
   /* padding-right: 240px; */
   /* align-items: flex-start; */
   align-content: flex-start;
   list-style: circle;
   
 }

 .list-add{
   display: flex;
   flex-direction: row;
   justify-content: center;
 }

 #title-input-list{
   width: 285px;
   height: 60px;
   margin-bottom: 20px;
   margin-left: 15px;
   margin-right: 15px;
   
   /* background-color: #68A67E; */
   background-color: rgba(137, 216, 164, 0.2);
   

  
}
 #description-input{
    width: 600px;
    height: 170px;
    background-color: rgba(137, 216, 164, 0.2);
    overflow-wrap: break-word;
   
 }
 #tester{
    /* border: 1px black solid; */
    padding-top: 20px;
     
   
 }

 .how-to{
    display: flex;
    justify-content: center;

    
  
 }

 .how-to-title{
    display: flex;
    justify-content: flex-start;
    margin-left: 202px;
 }

 .money-drop{
    /* margin-left: 490px; */
    width: 250px;
    height: 40px;
    /* margin-top: 200px;; */
 }
 .category-drop{
   /* margin-left: 390px; */
   width: 250px;
   height: 40px;
}
.selectors{
   display: flex;
   /* border: 1px black solid; */
   flex-direction: row;
   justify-content: space-evenly;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 40px;

}




 .creating-form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: space-around;
    padding-top: 10px;
   height: 500px;
    overflow-y: scroll;
 }

 .add-buttons{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   
 }
 .instruct-but{
    margin-top: -20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border: 1px rgb(82, 141, 104) solid;
   background-color: rgb(92, 149, 112);
   color: white;
      box-shadow: 0 0 4px rgb(82, 141, 104);
   
 }
 
 .submit-create-form{
   margin-top: 40px;
   /* border: 1px black solid; */
   padding-left: 70px;
   padding-right: 70px;
   padding-top: 15px;
   padding-bottom: 15px;
   border-radius: 10px;
   display: flex;
   align-content: flex-end;
   margin-bottom: 40px;
   border: 1px rgb(82, 141, 104) solid;
   background-color: rgb(92, 149, 112);
   color: white;
      box-shadow: 0 0 4px rgb(82, 141, 104);

   
 }
 

 /* .title-box{
    width
 } */

 /* .modal-child button {
     width: 100px;
 }

 .modal-child .button-container {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     border-top: 1px solid lightgray;
 }

 .modal-child .component-title {
     border: none;
     border-bottom: 1px solid lightgray;

 }

 .modal-child textarea {
     width: 100%;
     min-height: 140px;
     margin: 10px;
 }

 .modal-child input {
     width: 100%;
     width: 500px;
 }

 .modal-child form {
     height: 400px;
 } */


 #recipe-form-buttons{
   border-top: 1px solid rgb(92, 149, 112);
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding: 20px;
   margin-top: 20px;
 }

 #recipe-form-buttons button{
   margin: 0;
 }

 .title-error {
   display: flex;
   flex-direction: row;
   justify-content: center;
 }