.logged-in-nav{
    border: 1px black solid;
    height: 48px;
    display: flex;
    padding: 12px;
    /* justify-content: space-between; */
    /* align-items: center; */
}


.new-nav{
    display: flex;
    height: 48px;
    border: 1px black solid;
    display: flex;
    justify-content: space-between;
    padding: 12px;

}

.login-signup{
    /* border: 1px black solid; */
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    
}

.nav-bar-login{
    /* border: 1px black solid; */
    width: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-signup{
    /* border: 1px black solid;  */
    width: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #025928;
    border-radius: 3px;
}

.nav-bar-signup:hover{
    background-color: #027333;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.browse-rec-links{
    display: flex;
    /* border: 1px black solid; */
    align-items: center;
    margin-left: 10px;
    font-size: 14px;
    color: #72735F;
    
}

.meal-plan-links{
    display: flex;
    /* border: 1px black solid; */
    align-items: center;
    margin-left: 20px;
    font-size: 14px;
    color: #72735F;
}

.recipe-link{
    display: flex;
    /* border: 1px black solid; */
    align-items: center;
    margin-left: 20px;
    font-size: 14px;
    color: #72735F;
}

.logout-button{
    display: flex;
    justify-content: center;
    /* border: 1px black solid; */
    width: 100px;
    margin-left: 800px;
    background-color: #025928;
    border-radius: 3px;

}

.logout-button:hover {
    background-color: #027333;

}



