.search-container, .search-container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

}

.search-container2{
    margin-top: 31px;

}

.search-bar{
    border: 1px solid lightgray;
    height: 80px;
    width: 820px;
    border-radius: 50px;
    margin-top: 20px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

#index-search{
    margin-top: -60px;
}

.search-bar i {
    font-size: 30px;
}

.icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #027333;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-bar .icon:nth-child(1){
    background-color:white;

}

.search-bar .icon:nth-child(1) i{
    color:#027333; 
    
}

.icon i {
    color: white;
}

.search-bar form{
    /* border: 1px solid red; */
    height: 100%;
    width: 680px;
    align-items: center;
    
}

.search-bar form select, .search-bar form input {
        /* border: 1px solid green; */
            height: 99%;
            width: 164px;
            border-style: solid;
            border: none;
            text-align: center;
            color: grey;
            font-size: 15px;
            box-shadow: none;
            border-right: 1px solid lightgray;
}

.search-bar form select:hover{
    background-color: #02733336;
}

.search-bar form input:hover {
    background-color: #02733336;
}

.search-bar form select:nth-child(1){
    /* border: 1px solid red; */
    width: 180px;
}

.search-container .recipe-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 1320px;
}
