.search-container, .search-container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

}

.search-container2{
    margin-top: 31px;

}

.search-bar{
    border: 1px solid lightgray;
    height: 80px;
    width: 820px;
    border-radius: 50px;
    margin-top: 20px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

#index-search{
    margin-top: -60px;
}

.search-bar i {
    font-size: 30px;
}

.icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #027333;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon:hover{
    /* background-color: #014a21; */
    background-color: #10ca61;

}

.search-bar .icon:nth-child(1){
    background-color:white;

}

.search-bar .icon:nth-child(1) i{
    color:#027333; 

    
}

.icon i {
    color: white;
}

.search-bar form{
    height: 100%;
    width: 680px;
    align-items: center;
    
}

.search-bar form select, .search-bar form input {
        /* border: 1px solid green; */
            height: 99%;
            width: 164px;
            border-style: solid;
            border: none;
            text-align: center;
            color: grey;
            font-size: 15px;
            box-shadow: none;
            border-right: 1px solid lightgray;
            

}

.search-bar form select{
    cursor: pointer;
}

.search-bar form select:hover{
    background-color: #02733336;
}

.search-bar form input:hover {
    background-color: #02733336;
    
}

.search-bar form input {
    font-size: 17px;

}


.search-bar form select:nth-child(1){
    width: 180px;
}

.search-container .recipe-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 1320px;
    padding-top: 0px;
}

.search-container .search-bar{
   margin-bottom: 60px;
}

.clear-search {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    font-size: 20px;


}

.clear-search > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding:10px;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
}

.clear-search i {
    font-size: 16px;
    padding-right: 10px;

}

.clear-search>div:hover{
    background-color: rgba(211, 211, 211, 0.547);
}