
.show-page-section {
    margin-top: 69px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1280px;
}
.user-profile-pic{
    width: 200px;
    height: 200px;
    box-shadow: 0 0 4px #8a8d91;
    /* z-index: 45; */
    border-radius: 100px;
    display: flex;
    /* margin-left: 315px;
    margin-top: 20px; */
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-top: -20px;

}
.profile-pic-img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.user-handle{
    display: flex;
    /* border: 1px black solid; */
    /* margin-left: 565px; */
    font-size: 26px;
    /* margin-top: -140px; */
    width: 500px;
    /* border: 1px solid red; */

}


.created-recipe{
    display: flex;
    width: 292px;
    height: 230px;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.created-recipe:hover .user-show-recipe-title {
    /* display: flex; */
    /* opacity: 1; */
    color: rgb(5, 56, 5);
    opacity: 1;
}

.created-recipe:hover .user-show-recipe-image{
    opacity: 0.5;
}

.created-recipe:hover .edit-button{
    display: flex;
}


.created-recipes-index{
    display: flex;
    flex-wrap: wrap;
    width: ;
    justify-content: flex-start;
    /* border: 1px solid green; */
    width: 1250px;    
    /* margin-top: 100px;
    margin-left: 110px;
    /* margin-left: 50px; */
    /* margin-right: 100px; */ 
    /* border: 1px solid red; */
}

.recipe-count{
    padding-top: 10px;
    margin-right: 10px;
    /* margin-left: 560px; */
    width: 200px;
}


.make-meal-plan-button{
    width: 150px;
    height: 60px;
    box-shadow: 0 0 4px #8a8d91;
    display: flex;
    /* margin-left: 1100px; */
    /* margin-top: -150px; */
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
}

#adding-space{
    padding-right: 20px;
    /* margin-right: -100px; */
    /* margin-top: 40px; */
    /* padding-left: 140px; */
    /* padding-right: 120px; */
}
/* #adding-space-2{
    margin0
} */


.make-a-recipe{
    width: 150px;
    height: 60px;
    box-shadow: 0 0 4px #8a8d91;
    display: flex;
    /* margin-left: 1100px; */
    /* margin-top: -150px; */
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
}




.user-show-recipe-image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.user-show-recipe-title{
    margin-left: -260px;
    /* color: rgb(241, 215, 18); */
    color: rgba(0, 0, 0, 0);
    width: 200px;
    font-weight: bold;
    padding-top: 10px;
    /* background-color: green; */
    /* background-color: white; */
    height: 20px;
    /* display: none; */
    /* position: absolute; */
    
    /* border: 1px black solid; */
    /* height: 230px;
    width: 270px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500; */
    /* font-size: 60; */
    /* margin-left: 40px; */
    /* margin-top: 60px; */
}


.edit-button{
    display: none;
    /* position: absolute; */
    /* margin-left: 250px;
    margin-top: 10px; */
    padding-left: 30px;
    padding-top: 10px;
    color: rgb(175, 30, 30);
    z-index: 99;
    
}
.editing-bio{
    display: flex;
    /* border: 1px black solid; */
    /* margin-left: 550px; */
    width: 270px;
    height: 80px;
    /* margin-top: 20px; */
    justify-content: flex-start;
    align-items: flex-start;
    /* position: absolute; */
    word-wrap: break-word;
    word-break: break-all;
    box-shadow: 0 0 4px #8a8d91;
    padding: 10px;
    border-radius: 10px;
    /* position: absolute; */
}

.user-bio{
    display: flex;
    border: none;
    /* box-shadow: 0 0 4px #8a8d91; */
    /* border: 1px black solid; */
    /* margin-left: 550px; */
    width: 270px;
    height: 80px;
    /* margin-top: 20px; */
    border-radius: 10px;
    /* padding: 10px; */
    padding-top: 10px;
}
.bio-edit-container{
    width: 500px;
    height: 100px;
    /* border: 1px black solid; */
    display: flex;
    /* position: absolute; */
    /* margin-top: -632px;
    margin-left: 400px; */
    box-shadow: 0 0 4px #8a8d91;
}







.edit-bio-button{
    display: flex;
    /* position: absolute; */
    /* margin-left: 780px; */
    /* border: 1px black solid; */
    /* box-shadow: 0 0 4px #8a8d91; */
    /* margin-top: -35px; */
    padding: 5px;
    border-radius: 5px;
}

.edit-button-start{
    display: flex;
    position: absolute;
    /* margin-left: 935px;
    margin-top: 60px; */
}


.profile-container{
    /* border: 1px solid green; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
        /* border: 1px solid green; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1280px;
        padding-top: 50px;
        padding-bottom: 50px;
}
.user-buttons{
    height: 100px;
    display: flex;
    flex-direction: row;
    /* border: 1px solid purple; */
    justify-content: flex-end;
    color: white;
    
}

.user-buttons button {
    background-color: rgba(161, 213, 161, 0.333);
    background-color: white;
    color: green;
    box-shadow: none;
    border: 2px solid green;
}

.recipe-tabs{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-top: 1px solid lightgray;
    width: 1280px;
    /* border: 1px solid green; */
}

.recipe-tabs div{

    /* border: 1px solid red; */
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #027333;

}

.tab-active{
    color: green;
    font-weight: bold;
    border-top: 2px solid #027333;
}

.tab-inactive{
    font-weight: 400px;
    border-top: none;

}


.profile-info{
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid purple; */

    
}

.user-info{
    /* border: 3px rgb(195, 23, 23) solid; */
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.user-info > div:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit-profile-area{
    /* border: 3px rgb(195, 23, 23) solid; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    

}

.edit-bio-icon{
    display: flex;
    /* position: static; */
    /* position: absolute; */
    margin-left: 20px;
    font-size: 16px;
    margin-top: 9px;

    /* width: 50px; */
    /* border: 1px black solid; */
}

#testinggg{
    display: flex;
    position: relative;
}

.amount-of-recipes{
    /* border: 1px black solid; */
    padding-top: 10px;
    display: flex;
    width: 350px;
    justify-content: space-evenly;
    margin-left: -10px;
    /* padding-right: 0px; */
    
}

#food-bowl{
    color: #028e3f;
}

#thumbs-up{
    color : rgb(201, 87, 45);
}

.chef-hat{
    display: flex;
    width: 40px;
    height: 40px;
    /* border: 1px black solid; */
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}
#chef{
    /* font-size: 20px; */
}