@import './styles/reset.css';
@import './styles/login.css';
@import './styles/signup.css';
@import './styles/nav.css';
@import './styles/recipe_show.css';
@import './styles/user_show.css';
@import './styles/rating_review.css';
@import './styles/modal.css';
@import './styles/mealplan.css';
@import './styles/how_it_work.css';
@import './styles/shopping_list.css';
@import './styles/howitworks.css';
@import './styles/search.css';
/* @import './styles/mealplan.css';
@import './styles/recipe_show.css'; */



* {
    box-sizing: border-box;
}

.recipe-item {
    /* border: 1px solid red; */

}

.gallery {
    border: 1px solid #ccc;
}

.overlay {
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease; */
    /* background-color: #89f4d0; */
    transition: .5s ease;
    opacity: 0;
    /* position: absolute; */
    left: 80%;
    top: 50%;
    /* transform: translate(-50%, -50%); */
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    border: #027333 2px solid;
}

.gallery:hover .overlay {
    opacity: 1;
}

.gallery:hover img {
    opacity: 0.2;
}

.gallery:hover .user-little-name{
    opacity: 0.2;
}

.text {
    color: black;
    font-size: 20px;
    /* position: absolute; */
    /* margin-left: 300px;
    padding-left: 10px;
    width: 300px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -1000%);
    text-align: center;
    display: flex;
    border: #027333 2px solid;
     */
}

.recipe-little-info{
    display: flex;
    flex-direction: column;
}

.recipe-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 70px;
    font-family: 'Albert Sans', sans-serif;
    /* border: 1px solid red; */
}

.user-little-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    /* background-color: green; */
}

.user-little-img > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-little-name{
    margin-left: 10px;
    font-size: 20px;
}

.user-little-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

div.gallery:hover {
    border: 1px solid rgb(160, 160, 160);
    background-color: rgb(232, 250, 232);
    cursor: pointer;
    display: block;
}

div.gallery img {
    /* width: 100%; */
    height: 100%;
    display: block;
}


.responsive {
    padding: 0 6px;
    /* float: left; */
    /* width: 24.99999%; */
    flex-wrap: wrap;
    margin: 8px;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
    width: 240px;
}



.recipe-bg{
    width: 100%;
    margin-top: -160px;
    
}

.recipe-index-img{
    /* width: 500px; */
    /* max-width: 300px; */
   /* width: 150%; */
   /* height: 150%; */
   /* display: flex; */

   /* object-fit: cover; */
   /* scale: 20px; */
    /* height: 300px; */
}

.image-section{
    /* border: 5px green solid; */
    height: 500px;
    overflow: hidden;
}

.image-container{
    /* border: 1px black solid; */
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 290px;
    width: 300px;
}


.index-search {
    height: 40px;
    width: 400px;
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Albert Sans', sans-serif;
}

.index-search input{
    height: 100%;
    width: 100%;
    padding: 10px;
}


.recipe-index{
    display: flex;
    flex-direction: column;
    align-items: center;
}




.index-cg{
    /* border: 1px solid red; */
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.index-cg > div:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 95%;
    /* border: 1px solid green; */
    margin-bottom: 20px;
}

.index-cg>div:nth-child(1) > h1{
    font-size: 25px;
    font-weight: bold;
    color: #027333;
}

.recipe-cg-container{
    /* border: 1px solid red; */
    width: 90%;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.recipe-cg-container::-webkit-scrollbar {
    display: none;
}

.user-little-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.user-little-info .sub-info {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 30px;
    margin: 0;

}

.user-little-info .time{
    font-size: 15px;
    /* border: 1px solid red; */

}

.user-little-info .rating{
    /* border: 1px solid red; */
    margin: 0;

}

.user-little-info h3{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
